langgraph
langgraph-checkpoint
langchain-core>=0.2.0
langchain-community
langchain-ollama
qdrant-client
sentence-transformers
sentencepiece
protobuf
pandas
matplotlib
pytest
pytest-mock
anyio
flake8
black
clickhouse-connect
mmh3
pydantic
pydantic-settings
langfuse
aiokafka
redis
websockets
feedparser
aiohttp
python-telegram-bot
vnstock